@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');



body{
  margin: 0 0 0 0;
}


.maincontainer{
  width: 100vw;
  height: 100vh;
  background: rgb(5,2,2);
  background: linear-gradient(90deg, rgba(5,2,2,1) 0%, rgba(128,1,1,1) 49%, rgba(255,134,0,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formcontainer{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0px 30px 45px 30px;
  border-radius: 10px;
}

form{
  display: none;
  font-family: Roboto;
  
}


a{
  margin-top: 50px;
  color: rgba(245, 103, 39, 1)
}



input, .togglebtns{
  padding: 10px 20px 10px 20px;
  margin-top: 75px;
  font-family: Roboto;
  font-size: 1.5em;
  border-radius: 6px;
  background-color:rgba(0, 0, 0, 0.192);
  border-style: solid;
  border-width: 1px;
  transition: 0.15s background-color;
  
}

.togglebtns{
  margin-top: 20px;
  transition: 0.15s background-color;
 
}

#signin{
  margin-right: 70px;
}

input:focus{
  background-color: rgba(255, 255, 255, 0.055);
  border: none;
  outline: none;
  padding: 11px 21px 11px 21px;

}



@media only screen and (max-width: 425px){

  input, .togglebtns{
    padding: 6px 17px 6px 17px;
    margin-top: 50px;
    font-family: Roboto;
    font-size: 1.5em;
    border-radius: 6px;
    background-color:rgba(0, 0, 0, 0.192);
    border: none;
    
  }

 

  .formcontainer{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 20px 45px 20px;
    border-radius: 10px;
  }

  .submitbtn{
    border: orange;
    color: orange;
    border-width: 1px;
    border-style: solid;
  }

  input:focus{
    padding: 7px 18px 7px 18px;
  
  }
}

